html,
body {
    height: 100%;
}

body {
    @extend %montserrat-400;
    color: $default;
    background-color: $bg-light;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-size: 74px;
    @extend %gabriola-400;
    color: $title;
    line-height: 82%;
    margin-bottom: 30px;
}