@media (max-width:1260px) {
    .gallery {
        &__top {
            margin-bottom: 100px;
        }

        .slick-next {
            left: 120px;
            right: auto;
            top: -65px;
        }

        .slick-prev {
            left: 0;
            right: auto;
            top: -67px;
        }

        .counter {
            right: auto;
            bottom: -75px;
            left: 40px;
        }
    }
}

@media (max-width:1200px) {
    .header-content {
        &__img-box {
            margin-right: 0;

            img {
                margin-bottom: 5px;
            }
        }

        &__controls {
            position: static;
        }
    }

    .feedback {
        .slick-next {
            right: 14%;
        }
    }

    .contacts {
        &__inner::after {
            top: -15%;
        }
    }
}

@media (max-width:1050px) {
    .footer {
        &__inner {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        &__nav-list {
            align-items: center;
        }
    }

    .program {
        &__top-inner {
            flex-direction: column;
            align-items: stretch;
            gap: 20px;
        }

        &__sale-content {
            flex-shrink: 0;
        }
    }
}

@media (max-width:980px) {
    .school {
        &__inner {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__content {
            margin: 0 auto
        }

        &__img-box {
            margin-bottom: 20px;
        }

        &__img {
            width: auto;
        }

        &__subtitle {
            text-align: center;
        }

        &__title {
            text-align: center;
        }

        &__icon-box {
            left: 5%;
        }
    }

    .feedback {
        &__text-inner {
            margin: 0 auto 100px;
            text-align: center;
        }

        .slick-prev {
            left: 0;
            right: auto;
            top: -65px;
        }

        .slick-next {
            left: auto;
            top: -62.5px;
            right: 0;
        }
    }
}

@media (max-width: 900px) {
    .title {
        font-size: 64px;
    }

    .menu__list {
        display: inline-block;
        border: none;
        background-color: transparent;
        width: 40px;
        height: 40px;
        cursor: pointer;
        position: relative;
        z-index: 50;
    }

    .btn__line {
        position: absolute;
        left: 0;
        width: 100%;
        background-color: $default;
        height: 1.5px;
        transition: .4s ease;

        &:nth-child(1) {
            top: 5px;
        }

        &:nth-child(2) {
            top: 20px;
        }

        &:nth-child(3) {
            top: 20px;
        }

        &:nth-child(4) {
            top: 35px;
        }
    }

    .header-top {
        &__logo {
            position: relative;
            z-index: 50;
        }

        &__list {
            position: absolute;
            z-index: 15;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            background-color: $bg;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            transform: translateY(-100%);
            transition: .4s ease;
        }

        &__nav--active .header-top__list {
            transform: translateY(0);
        }

        &__nav--active {
            .btn__line:nth-child(1) {
                scale: 0;
            }

            .btn__line:nth-child(2) {
                transform: rotate(45deg);
            }

            .btn__line:nth-child(3) {
                transform: rotate(-45deg);
            }

            .btn__line:nth-child(4) {
                scale: 0;
            }
        }
    }

    .header-content {
        align-items: center;
        gap: 0;

        &__title {
            font-size: 64px;
        }

        &__text-inner {
            max-width: 475px;
        }

        &__controls {
            margin-bottom: 10px;
        }
    }

    .school {
        padding: 70px 0 35px;
    }

    .program {
        padding: 35px 0;

        &__sale {
            justify-content: center;
        }

        &__sale-content {
            grid-template-columns: auto auto;
            gap: 15px;
            flex-shrink: 1;
        }

        &__sale-box {
            justify-self: center;
            grid-row: auto;
            grid-column: 1/-1;
        }

        &__img-inner {
            display: none;
        }
    }

    .gallery {
        padding: 35px 0;

        &__top-img {
            display: none;
        }

        &__content {
            max-width: none;
            text-align: center;
        }
    }

    .feedback {
        margin-bottom: 70px;

        .slick-dots {
            button {
                width: 100%;
            }

            li {
                width: 40px;
            }
        }
    }

    .contacts {
        padding: 105px 0 100px;

        &__inner {
            justify-content: center;
        }

        &__img-box {
            display: none;
        }
    }
}

@media (max-width: 800px) {
    .header-top {
        margin-bottom: 25px;
    }

    .header-content {
        padding: 70px 0;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        &__girl {
            display: none;
        }

        &__text-inner {
            padding: 0;
            max-width: none;
            text-align: center;
        }

        &__controls {
            margin-top: 40px;
            margin-bottom: 0;
        }

        &__text {
            margin: 0 auto 40px;
        }

        &__date-inner {
            justify-content: center;
        }
    }

    .feedback {
        &__img-box {
            flex-shrink: 0;
        }

        &__item {
            padding: 20px;
            gap: 15px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
}

@media (max-width: 650px) {
    .footer {
        padding: 30px 0 30px;

        &__inner {
            grid-template-columns: repeat(1, 1fr);
            gap: 10px;
            text-align: center;
        }

        &__consultation-inner {
            margin-bottom: 25px;
            display: flex;
            flex-direction: column;
        }

        &__links {
            justify-content: center;
        }

        &__navigation {
            max-width: none;
        }

        &__consultation {
            text-align: center;
            max-width: none;
        }

        &__copy {
            display: inline-flex;
            align-self: center;
        }

        &__copy::before {
            top: 0px;
            left: -15%;
        }

        &__nav-link {
            display: inline-block;
        }

        &__address {
            display: inline-flex;
            align-self: center;
        }

        &__logo-link {
            display: flex;
            justify-content: center;
        }
    }

    .program {
        &__title {
            text-align: center;
            margin-bottom: 20px;
        }

        &__top-text {
            align-self: center;
        }

        &__top-inner {
            gap: 30px;
        }

        &__top-tabs {
            display: grid;
        }

        &__tab-link {
            text-align: center;
            width: 100%;
        }
    }

    .feedback {
        .slick-slide .feedback__item {
            display: none !important;
        }

        .slick-slide.slick-center .feedback__item {
            display: block !important;
        }

        &__img-box {
            margin-bottom: 10px;
        }

        &__content {
            margin: 0 auto;
        }
    }
}

@media (max-width:600px) {
    .school {
        &__content-items {
            grid-template-columns: repeat(1, 1fr);
        }

        &__content-item {
            max-width: none;
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
    .contacts {
        &__inner::after {
            top: -20%;
        }
        &__form-text {
            text-align: center;
        }
        &__title {
            text-align: center;
        }
    }
}

@media (max-width:450px) {
    .fancybox-content {
        padding: 115px 30px 30px 25px;
    }

    .pop-up__img {
        left: 10px;
    }

    .title {
        font-size: 42px;
    }

    .menu__list {
        width: 35px;
    }

    .header-content {
        padding: 40px 0;

        &__button {
            padding: 18px 50px;
            display: block;
        }

        &__title {
            font-size: 42px;
        }
    }

    .school {
        &__icon-box {
            max-width: none;
            padding: 10px;
            border-radius: 0 0 20px 20px;
            left: 0;
            right: 0;
            bottom: 0;
            justify-content: center;
        }
    }

    .program {
        &__tab-title {
            font-size: 32px;
        }

        &__tab-title--active+.program__tab-wrapper {
            flex-direction: column;
        }

        &__practice-list {
            max-width: none;
        }

        &__tab-inner {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 30px;
            }
        }

        &__price--small {
            grid-row: 2;
        }

        &__price--big {
            grid-row: 3;
        }
    }

    .feedback {
        padding: 70px 15px 0;

        & .slick-center .feedback__content-text {
            font-size: 14px;
        }

        & .slick-center .feedback__item-title {
            font-size: 25px;
        }

        &__items {
            width: 100%;
            margin: 0 auto;
        }

        &__item {
            width: 100%;
        }
    }
    .contacts {
        &__input {
            width: 100%;
        }

        &__btn {
            padding: 18px 63px;
            width: 100%;
        }
    }
}

@media (max-width:380px) {
    .feedback {
        &__item {
            width: calc(100% - 7%) !important;
        }
    }
}